<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>有点飘</title>
  <script src="/javascripts/jquery.js"></script>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div class="logo">
    <img src="/images/logo.png" alt="">
  </div>
  <ul class="btns">
    <li>
      <a href="javascript:void(0)">
        <img src="/images/about.png" alt="">
        <p>关于我们</p>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="/images/tools.png" alt="">
        <p>产品服务</p>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="/images/blog.png" alt="">
        <p>新闻资讯</p>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="/images/docs.png" alt="">
        <p>产品列表</p>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="/images/photos.png" alt="">
        <p>产品相册</p>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="/images/videos.png" alt="">
        <p>产品视频</p>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="/images/clients.png" alt="">
        <p>客户案例</p>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="/images/twitter.png" alt="">
        <p>关注我们</p>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="/images/contact.png" alt="">
        <p>联系我们</p>
      </a>
    </li>
    </div>
    <h2>你点击了：</h2>
</body>

</html>

<script src="/javascripts/index.js"></script>