@width: 333px;
@height: @width - 100px;

@bg: #eee;

#font(){
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.border {
  border: 1px red solid;
}

#header {
  width: @width;
  height: @height;
  color: #font[color];
  background: @bg;

  .border();

  h2{
    color: blue;
  }
}

