* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;

  font-family: "微软雅黑";
  font-size: 14px;
  color: #333;
}

nav {
  width: 100%;
  height: 70px;
  margin-bottom: 13px;
  text-align: center;
  line-height: 70px;
  background: #eee;
  border-bottom: #ccc 1px solid;
  box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.2);
}

nav div {
  width: 300px;
  height: 70px;
  margin-right: 33px;
  float: left;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

nav a {
  margin: 0 13px;
  float: left;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

nav ul {
  width: 100px;
  height: 70px;
  margin-right: 100px;
  float: right;
}

nav ul li {
  margin: 0 10px;
  float: right;
  cursor: pointer;
}

.path{
  width: 1200px;
  overflow: hidden;
  margin: 10px auto;
  font-size: 16px;
  color: #ccc;
}

.news{
  width: 1200px;
  overflow: hidden;
  margin: 10px auto;
}

.news h2{
  overflow: hidden;
  margin-bottom: 13px;
  padding: 10px 0;
  font-size: 23px;
  border-bottom: #ccc 1px solid;
  box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.2);
}

.news a{
  width: 300px;
  overflow: hidden;
  padding-left: 10px;
  float: left;
  line-height: 33px;
}
.news a:before{
  content: "* ";
  vertical-align: middle;
}

.banner {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: flex-start;
}

.banner img {
  width: 600px;
  height: 390px;
  border: pink 1px solid;
}

.list {
  width: 1200px;
  overflow: hidden;
  margin: 10px auto;
}

.list h2 {
  overflow: hidden;
  margin-bottom: 13px;
  padding: 10px 0;
  font-size: 23px;
  border-bottom: #ccc 1px solid;
  box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.2);
}

.list div {
  width: 400px;
  height: 300px;
  float: left;
  font-size: 33px;
  text-align: center;
  line-height: 300px;
  border: #eee 1px solid;
}

.list div:nth-child(2n+1) {
  background: #eee;
}

.list div:nth-child(2n+2) {
  background: skyblue;
}

.info{
  width: 1200px;
  overflow: hidden;
  margin: 22px auto;
  font-size: 16px;
  line-height: 30px;
  text-indent: 2em;
}

footer {
  overflow: hidden;
  background: #333;
  padding: 33px 0;
}

footer div {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 0;
  color: #777;
}

footer div span {
  color: #777;
}

footer div a {
  margin: 0 10px;
  color: #777;
}