<div class="headerGo">
  <div class="header">

    <a class="logo" href="#">
      <img src="./img/logo.png">
    </a>

    <div class="nav">
      <a href="">免费课程</a>
      <a href="">实战课程</a>
      <a href="">就业班</a>
      <a href="">专栏
        <img src="/img/new.png">
      </a>
      <a href="">猿问</a>
      <a href="">手记</a>
    </div>

    <div class="search">
      <input type="text">
      <div class="bts">
        <div class="java">Java入门</div>
        <div class="front">前端入门</div>
        <div class="imgSearch"><img src="/img/search.png"></div>
      </div>
    </div>

    <ul class="login">
      <li class="redPacket">
        <a href="#">
          <img src="/img/redPacket.png">
          邀请有奖
        </a>
      </li>
      <li class="download">
        下载APP
        <div class="appLoad">
          <h2>慕课网APP - 随时随地学编程</h2>
          <img src="/img/appload.png">
          <div>
            <a href="#">
              <img src="/img/apple.png">
              App Store下载
            </a>
            <a href="#">
              <img src="/img/android.png">
              Android下载
            </a>
            <p>扫描下载慕课网APP</p>
          </div>
        </div>
      </li>
      <li class="shopping">
        <a href="#">
          <img src="/img/shopping.png">
          购物车
        </a>
        <div class="shopCart">
          <h2>
            我的购物车
            <p>已加入0门课程</p>
          </h2>
          <div>
            <img src="/img/shopping.png">
            <p>购物车里空空如也</p>
            <span>快去这里选购你中意的课程</span>
            <a href="#">实战课程</a>
            <a href="#">就业班</a>
          </div>
          <h3>
            <a href="#">我的订单中心</a>
            <a class="redBtn" href="#">去购物车</a>
          </h3>
        </div>
      </li>
      <li>
        <a href="#">登录</a>
      </li>
      <li>
        <span> / </span>
      </li>
      <li>
        <a href="#">注册</a>
      </li>
    </ul>

  </div>
</div>