* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;

  font-family: "微软雅黑";
  font-size: 14px;
  color: #333;
}

header {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  line-height: 70px;
  background: pink;
}

.banner {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto 10px auto;
  padding: 13px 0;
  display: flex;
  justify-content: flex-start;
  border-bottom: #eee 1px solid;
}

.banner img {
  width: 600px;
  height: 390px;
  border: pink 1px solid;
}

.list {
  width: 1200px;
  overflow: hidden;
  margin: 10px auto;
}
.list div{
  width: 400px;
  height: 300px;
  float: left;
  font-size: 33px;
  text-align:center;
  line-height: 300px;
}
.list div:nth-child(2n+1){
  background: #eee;
}
.list div:nth-child(2n+2){
  background: pink;
}

footer {
  overflow: hidden;
  background: #333;
  padding: 33px 0;
}

footer div {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 0;
  color: #fff;
}