.nav {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.nav .alist{
  overflow: hidden;
  display: flex;
  align-items: center;
}

.nav a {
  overflow: hidden;
  margin:0 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background: #fff;
  border: skyblue 1px solid;
  border-radius: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.nav a:hover{
  color: #fff;
  background: skyblue;
}
.nav a.active{
  color: #fff;
  background: skyblue;
}

.nav a.toPage {
  color: #fff;
  background: pink;
  border: pink 1px solid;
}

.nav a.toPage:hover {
  background: red;
}

.nav .alist .user {
  overflow: hidden;
  padding: 10px 20px;
  font-size: 16px;
}

.nav .alist .user span {
  color: red;
  font-size: 16px;
  font-weight: bold;
}

.nav .alist img {
  width: 66px;
  height: 66px;
  border: skyblue 1px solid;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.nav .utile {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.nav .utile a.null{
  color: #ccc;
  background: #eee;
  border: #eee 1px solid;
}
.nav .utile a.null:hover{
  color: #fff;
  background: red;
}
