.game {
    width: 777px;
    overflow: hidden;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 8px 8px 8px #eee;
}

.game-board {
    width: 100%;
    margin-right: 20px;
}

.game-board .status {
    margin-bottom: 10px;
}

.game-board .board-row {
    display: flex;
    justify-content: space-around;
}

.game-board .board-row button {
    width: 100%;
    height: 70px;
    font-size: 22px;
    font-weight: bold;
    border: #eee 1px solid;
}

.game-info {
    width: 100%;
    height: 246px;
    overflow-y: auto;
    background: #f2f2f2;
}

.game-info li {
    overflow: hidden;
    border-bottom: #fff 1px solid;
    padding: 10px;
    cursor: pointer;
}