form {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: 20px auto;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

form h2 {
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 22px;
}

form input.title {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 13px;
}

form textarea {
  height: 333px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 13px;
  resize: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}

form input.submit {
  width: 100px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}