.radio{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.radio div{
  width: 50%;
  overflow: hidden;
  font-size: 33px;
  text-align: center;
  line-height: 55px;
  background: pink;
  box-sizing: border-box;
  border: #fff 3px solid;
}
.radio div.active{
  background: red;
}